/*
GUIDE TO FLEX BOX (it will change your life give it a look)
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/


body {
  background-color: #1a1818;
  color: #e7e0e0;
}


.main {
  text-align: center;
  flex-wrap: wrap;
}